<p>second-component works!</p>
<div class="m-3">
    <label for="" class="form-label">Id</label>
    <input type="number" class="form-control mb-3 w-25" placeholder="Id" [(ngModel)]="std.id"/>
    
    <label for="" class="form-label">Name</label>
    <input type="text" class="form-control mb-3 w-25" placeholder="Name" [(ngModel)]="std.name" />
    
    
    <label for="" class="form-label">Age</label>
    <input type="number" class="form-control mb-3 w-25" placeholder="Age" [(ngModel)]="std.age" />
    
    </div>
    
    <h1 class="px-3">Id : {{std.id}} :: Name : {{std.name}} :: Age : {{std.age}} </h1>