<div class="alert alert-warning">
    <h1>Edit Student</h1>

    <div>
        <label for="ID" class="form-label">ID</label>
        <input type="text" class="form-control" id="ID" placeholder="ID" [(ngModel)] = "EditedStudent!.id"/>
        <!-- <input type="text" class="form-control" id="ID" placeholder="ID" [value] = "EditedStudent!.id"/> -->
    </div>

    <div>
        <label for="Name" class="form-label">Name</label>
        <input type="text" class="form-control" id="Name" placeholder="Name" [(ngModel)] = "EditedStudent!.name"/>
        <!-- <input type="text" class="form-control" id="Name" placeholder="Name" [value] = "EditedStudent!.name"/> -->
    </div>

    <div>
        <label for="age" class="form-label">Age</label>
        <input type="text" class="form-control" id="age" placeholder="age" [(ngModel)] = "EditedStudent!.age" />
        <!-- <input type="text" class="form-control" id="age" placeholder="age" [value] = "EditedStudent!.age" /> -->
    </div>

    <button class="btn btn-outline-warning mt-2" (click)="edit()">Edit</button>

</div>
